    <footer class="footer">
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/">Home</a></li>
            <li class="list-inline-item"><a href="/about">About</a></li>
            <li class="list-inline-item"><a href="/contact">Contact</a></li>
        </ul>
        <p class="copyright"><b>Offside © 2021</b></p>
    </footer>
</body>
</html>