<!DOCTYPE html>
<html lang="en">
<head>
    <title>Offside</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="header">
        <a href="/"><img class="logo" style="margin-top:10px; margin-left:40px" src="/images/logo.png" alt="Logo"></a>
        <ul class="header-right">
        <li><a href="/connections/new"><b>Start a New Connection</b></a></li>
        <li><a href="/"><b>Login</b></a></li>
        <li><a href="/"><b>Signup</b></a></li>
        </ul>
        <ul>
        <li><a href="/connections"><b>Connections</b></a></li>
        </ul>
    </div>