<%- include('./partials/header.ejs') %>
    <div class="content">
        <div class="center-container">
            <div class="event-heading">
                <h3 class="dis-in-bl">About Us</h3>
            </div>
            <div class="m-60">
                <p>Welcome to Offside.</p>
                <p>This website was designed to keep a note of all the upcoming football matches that take place all over Europe. Includes Premier League, La Liga, Serie A, Bundesliga and Ligue 1.</p>
            </div>
        </div>
    </div>
<%- include('./partials/footer.ejs') %>
