<%- include('./partials/header.ejs') %>
    <div class="content">
        <div class="center-container">
            <div class="m-80">
                <p>Welcome to Offside.</p>
                <p>This website was designed to keep a note of all the upcoming football matches that take place all over Europe. <br>Includes Premier League, La Liga, Serie A, Bundesliga and Ligue 1.</p>
                <p>You can go through the connections section to check the available connections.</p>
            </div>
        </div>
    </div>
<%- include('./partials/footer.ejs') %>
